

* {
  box-sizing: border-box;
  font-family: var(--body-1-regular);
}

.logo-container {
  height: 42px;
  width: 178.5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-6xs);
  box-sizing: border-box;
}
.header .text {
  position: relative;
}
.header .text {
  flex: 1;
  font-size: var(--body-1-regular-size);
  line-height: 30px;
  font-family: var(--body-1-regular);
  color: var(--dark-500);
  text-align: left;
  white-space: nowrap;
}
.search-bar-filter-frame,
.search-bar-filter-container {
  align-self: stretch;
  display: flex;
}
.search-bar-filter-container {
  flex: 1;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.search-bar-filter-frame {
  width: 93px;
  border-radius: var(--br-3xs) 0 0 var(--br-3xs);
  border-top: 1px solid var(--gray-gray-20);
  border-bottom: 1px solid var(--gray-gray-20);
  border-left: 1px solid var(--gray-gray-20);
  box-sizing: border-box;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-mini);
}
.search-inp {
  position: relative;
}
.search-inp {
  width: calc(100% - 24px);
  border: 0;
  outline: 0;
  font-family: var(--body-1-regular);
  font-size: var(--body-1-regular-size);
  background-color: transparent;
  height: 30px;
  flex: 1;
  line-height: 30px;
  text-align: left;
  display: inline-block;
  min-width: 169px;
  padding: 0;
}
.search-bar-inp-frame,
.search-bar-inp-container {
  align-self: stretch;
  flex: 1;
  display: flex;
}
.search-bar-inp-container {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.search-bar-inp-frame {
  border: 1px solid var(--gray-gray-20);
  box-sizing: border-box;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-mini);
  max-width: 100%;
}
.search-butt-shape {
  position: relative;
  font-size: var(--body-1-regular-size);
  line-height: 30px;
  font-family: var(--body-1-regular);
  color: var(--white-500);
  text-align: left;
  display: inline-block;
  min-width: 55px;
  white-space: nowrap;
}
.search-butt-position {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs) var(--padding-2xl-5);
  background-color: var(--primary-500);
  border-radius: 0 var(--br-3xs) var(--br-3xs) 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.search-butt-position:hover,
.log-butt-position:hover {
  background-color: var(--color-steelblue);
  transition: 0.3s;
}
.top-left-header,
.search-bar {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  max-width: 100%;
}
.search-bar {
  align-self: stretch;
  align-items: flex-start;
}
.top-left-header{
  width: 747px;
  align-items: flex-end;
  gap: var(--gap-11xl-5);
}
.hamburger-menu-container {
  height: 27px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
  box-sizing: border-box;
}
.buttom-header .filter-img-container,
.buttom-left-header-frame{
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.buttom-header .filter-img-container {
  height: 27px;
  flex-direction: column;
  padding: var(--padding-10xs) 0 0;
  box-sizing: border-box;
}
.buttom-left-header-frame{
  flex-direction: row;
}
.buttom-left-header-frame {
  width: 317px;
  border-radius: var(--br-8xs) var(--br-8xs) 0 0;
  background-color: var(--gray-gray-5);
  padding: var(--padding-3xs) var(--padding-base);
  box-sizing: border-box;
  z-index: 1;
}
.buttom-header .text{
  padding-left: 15px;
}
header nav{
  width: 100%;
  height: 50px;
}
.main-menu-item{
  position: relative;
  font-size: var(--body-1-regular-size);
  line-height: 30px;
  font-family: var(--body-1-regular);
  color: var(--dark-500);
  text-align: center;
  display: inline-block;
  white-space: nowrap;
  margin-right: 30px;
}
.shop-filter-icon{
  position: relative;
  margin-right: 54px;
}
.shop-filter-icon img{
  position: absolute;
}

.buttom-right-header-frame .shop-icon,
.buttom-right-header-frame .shop-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.buttom-right-header-frame .shop-icon {
  height: 27px;
  flex-direction: column;
  padding: var(--padding-10xs) 0 0;
  box-sizing: border-box;
}
.buttom-right-header-frame .shop-container{
  width: 66px;
  flex-direction: row;
}
.main-menu,
.main-menu ul{
  display: flex;
}

.buttom-right-header-frame,
.right-header,
.buttom-header {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.buttom-header{
  width: 785px;
}
.buttom-right-header-frame {
  width: 438px;
  height: 50px;
  flex-direction: column;
  padding: var(--padding-3xs) 0 0;
  box-sizing: border-box;
}
.right-header,
.buttom-header {
  align-self: stretch;
  flex-direction: row;
  row-gap: var(--gap-11xl);
}
.right-header {
  margin: 0;
  width: 785px;
  flex-direction: column;
}
.card-num-bg {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--primary-500);
  width: 100%;
  height: 100%;
}
.card-num-text {
  position: absolute;
  top: 1px;
  left: 5px;
  line-height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 7px;
  height: 15px;
  min-width: 7px;
  z-index: 1;
}
.card-num-frame {
  height: 16px;
  width: 16px;
  position: absolute;
  margin: 0 !important;
  top: -5px;
  right: -6px;
  z-index: 1;
}
.card-icon-frame {
  align-self: stretch;
  flex-direction: row;
  position: relative;
}
.right-icons-frame,
.right-icons-container,
.card-icon-frame {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.right-icons-container {
  flex: 1;
  flex-direction: row;
  gap: var(--gap-xl);
}
.right-icons-frame {
  height: 37px;
  flex-direction: column;
  padding: var(--padding-smi) 0 0;
  box-sizing: border-box;
}
.log-butt-shape {
  position: relative;
  font-size: var(--body-1-regular-size);
  line-height: 30px;
  font-family: var(--body-1-regular);
  color: var(--white-500);
  text-align: left;
  display: inline-block;
  min-width: 46px;
  white-space: nowrap;
}
.top-right-header,
.log-butt-position {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.log-butt-position {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs) var(--padding-7xl);
  background-color: var(--primary-500);
  border-radius: var(--br-3xs);
}
.top-right-header {
  gap: var(--gap-11xl);
}
.top-right-header a{
  text-decoration: none;
}
.header {
  position: relative;
  align-self: stretch;
  height: 150px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-xl) var(--padding-xl) 0;
  box-sizing: border-box;
  gap: var(--gap-96xl);
  max-width: 100%;
  text-align: center;
  font-size: var(--label-bold-size);
  color: var(--white-500);
  font-family: var(--body-1-regular);
}




@media screen and (max-width: 1200px) {
.header {
  gap: 115px 57px;
}
.descendant-segment {
  gap: 50px 100px;
}
.parent-complex {
  padding-bottom: var(--padding-13xl);
  box-sizing: border-box;
}
.footer2 {
  gap: 32px 64px;
}
}


/* for background */

.modal-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  opacity: 0;
  pointer-events: none;
  transition: opacity 300ms ease;
}
.modal-container:target {
  opacity: 1;
  pointer-events: all;
}

.modal-container2 {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2000;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  opacity: 0;
  pointer-events: none;
  transition: opacity 300ms ease;
}
.modal-container2:target {
  opacity: 1;
  pointer-events: all;
}

.modal-container3 {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2000;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  opacity: 0; /* injaaaaaaaa*/
  pointer-events: none;
  transition: opacity 300ms ease;
}
.modal-container3:target {
  opacity: 1;
  pointer-events: all;
}

.modal-container4 {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2000;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  opacity: 0; /* injaaaaaaaa*/
  pointer-events: none;
  transition: opacity 300ms ease;
}
.modal-container4:target {
  opacity: 1;
  pointer-events: all;
}
.modal-close{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  background-color: var(--primary-primary-10);
  border-radius: 20%;
}

.kossher .modal-container{
  display: none;
}
.kossher .modal-container:target{
  display: block;
}


/* لاگین */
.login-page-header{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
}
.welcome-text,
.login-here-text {
  align-self: stretch;
  position: relative;
  font-family: var(--body-1-regular);
  text-align: left;
}
.welcome-text {
  margin: 0;
  font-size: var(--header-4-bold-size);
  line-height: 42px;
  font-weight: 700;
  color: var(--dark-500);
}
.login-here-text {
  font-size: var(--body-1-regular-size);
  line-height: 30px;
  color: var(--gray-500);
}
.login-inp-label {
  font-family: var(--body-1-regular);
  position: relative;
  color: var(--dark-500);
  text-align: left;
  align-self: stretch;
  font-size: var(--caption-regular-size);
  line-height: 20px;
}
.login-inp {
  outline: 0;
  font-size: var(--body-1-regular-size);
  background-color: transparent;
  line-height: 30px;
  display: inline-block;
  white-space: nowrap;
  box-sizing: border-box;
  width: 100%;
  height: 56px;
  border-radius: var(--br-3xs);
  border: 1px solid var(--primary-500);
  flex-direction: row;
  padding: var(--padding-smi) var(--padding-mini);
}
.state {
  accent-color: var(--primary-500);
  margin: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.checkbox-label {
  line-height: 30px;
}
.checkbox-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-base) 0 0;
  gap: var(--gap-3xs);
}
.forget-pass{
  text-decoration: none;
  font-size: var(--body-2-regular-size);
  color: black
}
.checkbox-forget-container {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--gap-11xl);
  margin-bottom: 10px;
}
#log-butt-log-page{
  width: 380px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
#reg-butt-log-page{
  width: 380px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  color: var(--primary-500);
  border: 1px solid var(--primary-500);
  text-decoration: none;
}
#reg-butt-log-page:hover{
  background-color: var(--primary-primary-10);
  transition: 0.3s;
}
#log-with-butt{
  width: 380px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  color: black;
  border: 1px solid var(--gray-gray-20);
}
#log-with-butt:hover{
  background-color: var(--primary-primary-10);
  transition: 0.3s;
}
.log-page-separator-line-pos {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs-5) 0 0;
  box-sizing: border-box;
  min-width: 86px;
}
.log-page-separator-line {
  align-self: stretch;
  height: 1px;
  position: relative;
  background-color: var(--gray-gray-20);
}
.log-page-separator-line-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--gap-5xs);
}
.log-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0;
  align-self: stretch;
  border-radius: var(--br-base);
  background-color: var(--white-500);
  box-shadow: var(--ds-2);
  border: 1px solid var(--gray-gray-20);
  align-items: flex-start;
  padding: var(--padding-xl) var(--padding-lgi);
  gap: var(--gap-base);
  max-width: 100%;
  z-index: 2;
  margin: auto;
  width: 420px;
  background-color: white;
}

.otp-form{
  height: 309px;
}
.enter-pass{
  width: 60px;
  height: 60px;
  border-color: var(--gray-gray-20);
}
.pass-inps{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.succes-pass-form{
  width: 392px;
  height: 396px;
  text-align: center;
  display: flex;
  align-items: center;
}
#back-login-butt{
  width: 100%;
  display: flex;
  justify-content: center;
  text-decoration: none;
  margin-top: 20px;
}
.succes-pass-form h2,
.succes-pass-form .login-here-text{
  text-align: center;
  color: black;
}
.succes-pass-form h2{
  font-size: var(--header-5-bold-size);
}
.inner-circle{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 64px;
  height: 64px;
  background-color: var(--primary-500);
  border-radius: 50%;
}
.middle-circle{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 86px;
  height: 86px;
  background-color: rgb(193, 210, 239);
  border-radius: 50%;
}
.outer-circle{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 108px;
  height: 108px;
  background-color: var(--primary-primary-10);
  border-radius: 50%;
}
.outer-circle img{
  width: 24px;
  height: 24px;
}









.happy-man-bg {
  position: absolute;
  top: 233px;
  left: 703px;
  border-radius: 50%;
  background-color: var(--white-500);
  width: 658px;
  height: 658px;
}
.happy-man{
  position: absolute;
  top: 160px;
  left: 743px;
  width: 599px;
  height: 814px;
  object-fit: cover;
}


.content-topic{
  margin: 0;
}
.content-topic-container,
.main-content {
  position: relative;
  line-height: 110px;
}
.main-content {
  align-self: stretch;
  font-size: var(--header-7-bold-size);
  line-height: 30px;
}
.content {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.shop-now-butt {
  /* position: relative;
  line-height: 30px; */
  border-radius: var(--br-3xs);
  background-color: var(--primary-500);
  border: var(--primary-500);
  height: 56px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-xl);
  box-sizing: border-box;
  gap: var(--gap-3xs);
  font-size: var(--body-1-regular-size);
  color: var(--white-500);
  cursor: pointer;
}
.shop-now-butt:hover{
  background-color: var(--color-steelblue);
}
.huge-iconarrowssolidarrow-r2 {
  width: 24px;
  position: relative;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.intro-section {
  /* background-color: aquamarine; */
  position: absolute;
  top: 300px;
  left: 150px;
  width: 514px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 38px;
  font-size: var(--header-1-bold-size);
  
}
.zhigool{
  margin-left: 400px;
}



/* shop by categories */

#sad{
  background-color: aqua;
}
.shop-by-catrgories {
  width: 978px;
  position: relative;
  line-height: 42px;
  display: inline-block;
  flex-shrink: 0;
  font-size: var(--header-4-bold-size);
}
.left-butt,
.right-butt {
  width: 50px;
  border-radius: var(--br-3xs);
  height: 50px;
  object-fit: contain;
  display: flex;
  align-items: center;
  justify-content: center;
}
.left-butt{
  border-style: none;
  /* background-color: rgb(238, 238, 238); */
  background-color: aquamarine;
  margin-left: 80px;
}
.right-butt{
  border-style: none;
  background-color: var(--primary-500);
}
.action,
.shop-by-catrgories-header {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.shop-by-catrgories-header {
  align-items: center;
  gap: var(--gap-11xl);
}
.shop-by-categories .img-bg {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--gray-gray-10);
  width: 165px;
  height: 165px;
}
.shop-imgs {
  position: absolute;
  top: 23px;
  left: 30px;
  width: 105px;
  height: 120px;
  object-fit: cover;
}
.ellipse-container {
  width: 165px;
  position: relative;
  height: 165px;
}
.text {
  position: relative;
  line-height: 30px;
}
.group-child {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.all-products,
.shop-by-categories {
  display: flex;
  align-items:center;
}
.all-products {
  flex-direction: row;
  gap: var(--gap-11xl);
  text-align: center;
  font-size: var(--body-1-regular-size);
}
.shop-by-categories {
  position: absolute;
  top: 1074px;
  left: 150px;
  flex-direction: column;
  gap: var(--gap-31xl);
}
/* end of shop by categories */





/* advertising */

.ad-img{
  position: absolute;
  bottom: 0;
  right: 0;
}

.ad-container{
  position: absolute;
  top: 0;
  left: 0;
  width: 555px;
  height: 261px;
}
.ad-container {
  background-color: var(--gray-gray-10);
}
.mask-group-icon1 {
  object-fit: cover;
}
.ad-topic,
.ad-content {
  position: relative;
  line-height: 42px;
}
.ad-topic{
  font-size: var(--header-4-bold-size);
}
.ad-content {
  font-size: var(--header-7-bold-size);
  line-height: 30px;
}
.ad-full-content {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.button21 {
  position: relative;
  line-height: 30px;
}
.huge-iconarrowssolidarrow-r3 {
  width: 24px;
  position: relative;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.ad-frame{
  position: absolute;
  top: 69px;
  left: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-11xl);
}
.off-text {
  position: relative;
  line-height: 20px;
}
.off {
  position: absolute;
  top: 30px;
  left: 30px;
  border-radius: var(--br-8xs);
  background-color: var(--primary-primary-10);
  height: 34px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
  box-sizing: border-box;
  font-size: var(--caption-regular-size);
  color: var(--primary-500);
}
.ads .shop-now-butt{
  height: 50px;
}
.ad-shape {
  width: 555px;
  position: relative;
  height: 261px;
  text-decoration: none;
  color: black;
}
.ads {
  position: absolute;
  top: 1489px;
  left: 150px;
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: center; */
  gap: var(--gap-11xl);
  /* background-color: rebeccapurple; */
}
/* end of advertising */

/* our bestseller products */
.bestseller-products-topic {
  width: 831px;
  position: relative;
  line-height: 42px;
  display: inline-block;
  flex-shrink: 0;
  font-size: var(--header-4-bold-size);
}
.bestseller-filter ul li{
  list-style: none;
  display: inline;
  margin: 0 10px;
  font-size: var(--header-6-bold-size);
  
}
.bestseller-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.bestseller-header {
  align-items: center;
  gap: var(--gap-11xl);
}
.left-bold-container{
  position: absolute;
  top: 0;
  left: 0;
  width: 360px;
  height: 714px;
}
.left-bold-container {
  background-color: var(--gray-gray-5);
}
.apple-ipad-pro,
.wi-fi {
  margin: 0;
  font-size: var(--header-4-bold-size);
}
.apple-ipad-pro-container,
.price {
  margin: 0;
  position: absolute;
  top: 30px;
  left: 30px;
  line-height: 42px;
  display: inline-block;
  width: 310px;
}
.price {
  top: 124px;
  font-size: var(--header-4-bold-size);
}
.left-bold {
  width: 360px;
  position: relative;
  height: 714px;
}
.item-img,
.item-container {
  position: absolute;
  top: 0;
  height: 230px;
}
.item-container {
  left: 0;
  background-color: var(--gray-gray-5);
  width: 230px;
}
.item-img {
  left: 15px;
  width: 200.9px;
  object-fit: cover;
}
.bestseller-right .text {
  width: 230px;
  position: relative;
  line-height: 30px;
  display: inline-block;
}
.bestseller-right .inner-frame,
.rating-group {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.bestseller-right .inner-frame {
  flex-direction: column;
  gap: var(--gap-5xs);
}
.bestseller-right .frame {
  position: absolute;
  top: 242px;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.group-items{
  width: 230px;
  position: relative;
}
.group-items {
  height: 342px;
}
.right-price {
  position: relative;
  line-height: 30px;
}
.group {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-11xl);
} 
.bestseller-right,
.bestseller-products,
.bestseller-main {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-11xl);
}
.bestseller-right {
  /* flex-direction: column; */
  width: 750px;
  flex-wrap: wrap;
  font-size: var(--body-1-regular-size);
}
.bestseller-products,
.bestseller-main {
  flex-direction: row;
}
.bestseller-products {
  position: absolute;
  top: 1850px;
  left: 150px;
  flex-direction: column;
  gap: var(--gap-31xl);
  /* iiiiiiiiiiiiiiiiiiiiiinnnnnnnnn */
  align-items: center;
}
/* end of bestseller */

/* Big ad */

.big-ad-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 500px;
  object-fit: cover;
}
.big-ad-topic,
.big-ad-content {
  width: 440px;
  position: relative;
  line-height: 56px;
  display: inline-block;
}
.big-ad-content {
  font-size: var(--header-7-bold-size);
  line-height: 30px;
}
.big-ad-group-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.big-ad-frame {
  position: absolute;
  top: 134px;
  left: 150px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-11xl);
}
.big-ad .shop-now-butt{
  height: 50px;
}
.big-ad{
  position: absolute;
  top: 2756px;
  left: 0;
  width: 100%;
  height: 500px;
  font-size: var(--header-3-bold-size);
  color: var(--white-500);
}
/* end of big ad */

/* top selling product */
.top-selling-products {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-11xl);
  flex-direction: row;
  position: absolute;
  top: 3356px;
  left: 150px;
  flex-direction: column;
  gap: var(--gap-31xl);
  /* iiiiiiiiiiiiiiiiiiiiiinnnnnnnnn */
  align-items: center;
}
/* end of top selling products */

/* our features */
.huge-iconshipping-and-deliver {
  width: 36px;
  position: relative;
  height: 36px;
  overflow: hidden;
  flex-shrink: 0;
}
.our-features .text-title {
  align-self: stretch;
  position: relative;
  line-height: 30px;
}
.our-features .text {
  position: relative;
  font-size: var(--body-1-regular-size);
  line-height: 30px;
}
.our-features-text-group,
.our-features-frame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.our-features-frame {
  gap: var(--gap-base);
}
.our-features {
  position: absolute;
  top: 4262px;
  left: 150px;
  width: 1200px; /*1140*/
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  font-size: var(--header-7-bold-size);
}
/* end of our features */


/* footer */
.footer-child {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--primary-500);
  }
  .logo-text {
    position: absolute;
    height: 10.34%;
    width: 14.08%;
    top: 7.75%;
    right: 75.5%;
    bottom: 81.91%;
    left: 10.42%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .mail-img-container {
    width: 24px;
    position: relative;
    height: 24px;
    overflow: hidden;
    flex-shrink: 0;
  }
  .footer-item-text {
    position: relative;
    line-height: 30px;
  }
  .call-group {
    position: absolute;
    top: 100px;
    left: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-3xs);
  }
  .electro-all-rights {
    position: absolute;
    top: 88.11%;
    left: calc(50% - 147px);
    line-height: 30px;
    text-align: center;
  }
  .mail-group {
    position: absolute;
    top: 146px;
    left: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-3xs);
  }
  .address-text {
    margin: 0;
  }
  .address-group,
  .information-section,
  .footer-section-group,
  .service-section {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-3xs);
  }
  .address-group {
    position: absolute;
    top: 192px;
    left: 150px;
    flex-direction: row;
  }
  .information-section,
  .footer-section-group,
  .service-section {
    flex-direction: column;
  }
  .information-section,
  .service-section {
    position: absolute;
    top: 30px;
    left: 503.5px;
  }
  .service-section {
    left: 703px;
  }
  .mail-section-inner-frame,
  .subscribe-content-group {
    display: flex;
    justify-content: flex-start;
    gap: var(--gap-3xs);
  }
  .subscribe-content-group {
    align-self: stretch;
    flex-direction: column;
    align-items: flex-start;
  }
  .mail-section-inner-frame {
    flex-direction: row;
    align-items: center;
  }
  .mail-section-frame,
  .mail-section,
  .subscribe-section {
    display: flex;
    justify-content: flex-start;
  }
  .mail-section-frame {
    flex-direction: row;
    align-items: center;
    gap: 145px;
  }
  .mail-section,
  .subscribe-section {
    flex-direction: column;
    align-items: flex-start;
  }
  .mail-section {
    border-radius: var(--br-3xs);
    background-color: var(--gray-gray-10);
    overflow: hidden;
    padding: var(--padding-smi) var(--padding-base);
  }
  .subscribe-section {
    position: absolute;
    top: 30px;
    left: 968px;
    gap: var(--gap-3xs);
  }
  .footer-line {
    position: absolute;
    height: 0.26%;
    width: 79.17%;
    top: 83.72%;
    right: 10.42%;
    bottom: 16.02%;
    left: 10.42%;
    background-color: var(--gray-gray-20);
  }
.payment-sponsor-group {
    position: absolute;
    height: 6.2%;
    width: 15.28%;
    top: 88.11%;
    right: 74.31%;
    bottom: 5.68%;
    left: 10.42%;
  }
.socialmedia-group {
    position: absolute;
    height: 6.2%;
    width: 7.78%;
    top: 88.11%;
    right: 10.42%;
    bottom: 5.68%;
    left: 81.81%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-xl);
  }
.footer {
    position: absolute;
    top: 4479px;
    left: 0;
    width: 100%;
    height: 387px;
    font-size: var(--body-1-regular-size);
    color: var(--white-500);
  }
