.logo-container {
    height: 42px;
    width: 178.5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 0 0 var(--padding-6xs);
    box-sizing: border-box;
}
.header .text {
    position: relative;
}
.header .text {
    flex: 1;
    font-size: var(--body-1-regular-size);
    line-height: 30px;
    font-family: var(--body-1-regular);
    color: var(--dark-500);
    text-align: left;
    white-space: nowrap;
}
.search-bar-filter-frame,
.search-bar-filter-container {
    align-self: stretch;
    display: flex;
}
.search-bar-filter-container {
    flex: 1;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-3xs);
}
.search-bar-filter-frame {
    width: 93px;
    border-radius: var(--br-3xs) 0 0 var(--br-3xs);
    border-top: 1px solid var(--gray-gray-20);
    border-bottom: 1px solid var(--gray-gray-20);
    border-left: 1px solid var(--gray-gray-20);
    box-sizing: border-box;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: var(--padding-3xs) var(--padding-mini);
}
.search-inp {
    position: relative;
}
.search-inp {
    width: calc(100% - 24px);
    border: 0;
    outline: 0;
    font-family: var(--body-1-regular);
    font-size: var(--body-1-regular-size);
    background-color: transparent;
    height: 30px;
    flex: 1;
    line-height: 30px;
    color: var(--dark-dark-20);
    text-align: left;
    display: inline-block;
    min-width: 169px;
    padding: 0;
}
.search-bar-inp-frame,
.search-bar-inp-container {
    align-self: stretch;
    flex: 1;
    display: flex;
}
.search-bar-inp-container {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-3xs);
}
.search-bar-inp-frame {
    border: 1px solid var(--gray-gray-20);
    box-sizing: border-box;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: var(--padding-3xs) var(--padding-mini);
    max-width: 100%;
}
.search-butt-shape {
    position: relative;
    font-size: var(--body-1-regular-size);
    line-height: 30px;
    font-family: var(--body-1-regular);
    color: var(--white-500);
    text-align: left;
    display: inline-block;
    min-width: 55px;
    white-space: nowrap;
}
.search-butt-position {
    cursor: pointer;
    border: 0;
    padding: var(--padding-3xs) var(--padding-2xl-5);
    background-color: var(--primary-500);
    border-radius: 0 var(--br-3xs) var(--br-3xs) 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.search-butt-position:hover,
.log-butt-position:hover {
    background-color: var(--color-steelblue);
}
.top-left-header,
.search-bar {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    max-width: 100%;
}
.search-bar {
    align-self: stretch;
    align-items: flex-start;
}
.top-left-header{
    width: 747px;
    align-items: flex-end;
    gap: var(--gap-11xl-5);
}
.hamburger-menu-container {
    height: 27px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-10xs) 0 0;
    box-sizing: border-box;
}
.buttom-header .filter-img-container,
.buttom-left-header-frame,
.buttom-left-header-container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
.buttom-header .filter-img-container {
    height: 27px;
    flex-direction: column;
    padding: var(--padding-10xs) 0 0;
    box-sizing: border-box;
}
.buttom-left-header-frame,
.buttom-left-header-container {
    flex-direction: row;
}
.buttom-left-header-container {
    flex: 1;
    gap: var(--gap-3xs);
}
.buttom-left-header-frame {
    width: 317px;
    border-radius: var(--br-8xs) var(--br-8xs) 0 0;
    background-color: var(--gray-gray-5);
    padding: var(--padding-3xs) var(--padding-base);
    box-sizing: border-box;
    z-index: 1;
}
.main-menu-item{
    position: relative;
    font-size: var(--body-1-regular-size);
    line-height: 30px;
    font-family: var(--body-1-regular);
    color: var(--dark-500);
    text-align: center;
    display: inline-block;
    white-space: nowrap;
    /* background-color: red; */
}
.main-menu-item {
    width: 50px;
    min-width: 50px;
}
.buttom-right-header-frame .shop-icon,
.buttom-right-header-frame .shop-container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
.buttom-right-header-frame .shop-icon {
    height: 27px;
    flex-direction: column;
    padding: var(--padding-10xs) 0 0;
    box-sizing: border-box;
}
.buttom-right-header-frame .shop-container{
    width: 66px;
    flex-direction: row;
}
.main-menu {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: var(--gap-xl);
}
.buttom-right-header-frame,
.right-header,
.buttom-header {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
}
.buttom-right-header-frame {
    flex: 1;
    flex-direction: column;
    padding: var(--padding-3xs) 0 0;
    box-sizing: border-box;
}
.right-header,
.buttom-header {
    align-self: stretch;
    flex-direction: row;
    gap: var(--gap-11xl);
}
.right-header {
    margin: 0;
    width: 785px;
    flex-direction: column;
}
.card-num-bg {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    background-color: var(--primary-500);
    width: 100%;
    height: 100%;
}
.card-num-text {
    position: absolute;
    top: 1px;
    left: 5px;
    line-height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 7px;
    height: 15px;
    min-width: 7px;
    z-index: 1;
}
.card-num-frame {
    height: 16px;
    width: 16px;
    position: absolute;
    margin: 0 !important;
    top: -5px;
    right: -6px;
    z-index: 1;
}
.card-icon-frame {
    align-self: stretch;
    flex-direction: row;
    position: relative;
}
.right-icons-frame,
.right-icons-container,
.card-icon-frame {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
.right-icons-container {
    flex: 1;
    flex-direction: row;
    gap: var(--gap-xl);
}
.right-icons-frame {
    height: 37px;
    flex-direction: column;
    padding: var(--padding-smi) 0 0;
    box-sizing: border-box;
}
.log-butt-shape {
    position: relative;
    font-size: var(--body-1-regular-size);
    line-height: 30px;
    font-family: var(--body-1-regular);
    color: var(--white-500);
    text-align: left;
    display: inline-block;
    min-width: 46px;
    white-space: nowrap;
}
.top-right-header,
.log-butt-position {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}
.log-butt-position {
    cursor: pointer;
    border: 0;
    padding: var(--padding-3xs) var(--padding-7xl);
    background-color: var(--primary-500);
    border-radius: var(--br-3xs);
}
.top-right-header {
    gap: var(--gap-11xl);
}
.header {
    position: relative;
    align-self: stretch;
    height: 150px;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: var(--padding-xl) var(--padding-xl) 0;
    box-sizing: border-box;
    gap: var(--gap-96xl);
    max-width: 100%;
    text-align: center;
    font-size: var(--label-bold-size);
    color: var(--white-500);
    font-family: var(--body-1-regular);
}




@media screen and (max-width: 1200px) {
.header {
    gap: 115px 57px;
}
.descendant-segment {
    gap: 50px 100px;
}
.parent-complex {
    padding-bottom: var(--padding-13xl);
    box-sizing: border-box;
}
.footer2 {
    gap: 32px 64px;
}
}


/* main sec */
.nested-menu .text {
    line-height: 24px;
    display: inline-block;
    min-width: 44px;
  }
  .nested-menu-group {
    height: 22px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-11xs) 0 0;
    box-sizing: border-box;
  }
  .nested-menu {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .product-detail-main-img-bg {
    align-self: stretch;
    height: 555px;
    background-color: var(--gray-gray-5);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: var(--padding-49xl) var(--padding-xl) var(--padding-48xl)
      var(--padding-2xl);
    box-sizing: border-box;
    max-width: 100%;
  }
  .product-detail-other-imgs-bg {
    flex: 1;
    background-color: var(--gray-gray-5);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-lgi) var(--padding-7xl) var(--padding-lg);
    box-sizing: border-box;
    min-width: 71px;
    max-width: 123px;
  }
  .product-detail-other-imgs-group {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  .product-detail-other-imgs-group {
    align-self: stretch;
    justify-content: center;
    gap: var(--gap-xl);
  }
  .product-detail-imgs,
  .main-section-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
  }
  .product-detail-imgs {
    align-self: stretch;
    gap: var(--gap-xl);
  }
  .main-section-left {
    flex: 1;
    gap: var(--gap-31xl);
    min-width: 361px;
  }
  .product-detail-title {
    margin: 0;
    position: relative;
    font-size: inherit;
    line-height: 42px;
    font-weight: 700;
    font-family: inherit;
  }
  .rating-group,
  .rating-group-container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .rating-group {
    align-self: stretch;
    height: 24px;
    flex-direction: row;
  }
  .rating-group-container {
    flex: 1;
    flex-direction: column;
    padding: var(--padding-10xs) 0 0;
  }
  .reviews-text {
    position: relative;
    line-height: 30px;
    display: inline-block;
    min-width: 128px;
  }
  .rating-rev-group {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-5xs);
  }
  .price-text {
    position: relative;
    font-size: var(--header-6-bold-size);
    line-height: 30px;
    color: var(--dark-500);
    display: inline-block;
    min-width: 87px;
    white-space: nowrap;
  }
  .main-details-group,
  .first-detail-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .main-details-group {
    width: 256px;
    gap: var(--gap-xs);
    font-size: var(--body-1-regular-size);
    color: var(--gray-500);
  }
  .first-detail-group {
    gap: var(--gap-8xs);
  }
  .main-section-right-top,
  .product-status {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  .product-status {
    position: relative;
    font-size: var(--caption-regular-size);
    line-height: 20px;
    font-family: var(--body-1-regular);
    color: var(--color-limegreen-100);
    text-align: left;
    display: inline-block;
    min-width: 49px;

    border: 0;
    padding: var(--padding-8xs) var(--padding-3xs);
    background-color: var(--color-limegreen-300);
    border-radius: var(--br-9xs);
    justify-content: flex-start;
    white-space: nowrap;
  }
  .main-section-right-top {
    align-self: stretch;
    justify-content: space-between;
    gap: var(--gap-xl);
    font-size: var(--header-4-bold-size);
  }
  .main-content {
    margin-top: 15PX;
    flex: 1;
    position: relative;
    line-height: 30px;
    max-width: 100%;
    font-size: var(--body-1-regular-size);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 0 var(--padding-9xs);
    box-sizing: border-box;
    max-width: 100%;
  }

  .color-text {
    width: 262px;
    position: relative;
    line-height: 30px;
    display: inline-block;
  }
  .color-shape1,
  .color-shape2,
  .color-shape3,
  .color-shape4 {
    height: 36px;
    width: 36px;
    position: relative;
    border-radius: var(--br-9xs);
    background-color: var(--color-silver);
    border: var(--color-silver);
    cursor: pointer;
  }
  .color-shape2{
    background-color: var(--color-option-color-option-4);
    
  }
  .color-shape3{
    background-color: var(--dark-500);
  }
  .color-shape4{
    background-color: var(--color-option-color-option-3);
  }
  .colors-group {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-3xs);
  }
  .minus-container {
    align-self: stretch;
    width: 40px;
    border-radius: var(--br-3xs) 0 0 var(--br-3xs);
    border: 1px solid var(--gray-gray-20);
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-base) var(--padding-6xs);
    background-color: var(--white-500);
    cursor: pointer;
  }
  .numbers-wanted {
    width: 6px;
    height: 28px;
    position: relative;
    line-height: 30px;
    display: inline-block;
    min-width: 6px;
    z-index: 2;
  }
  .numbers-wanted-container {
    border-top: 1px solid var(--gray-gray-20);
    border-bottom: 1px solid var(--gray-gray-20);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-smi) var(--padding-mid);
    z-index: 1;
  }
  .numbers-wanted-group,
  .plus-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .plus-container {
    align-self: stretch;
    width: 40px;
    border-radius: 0 var(--br-3xs) var(--br-3xs) 0;
    border: 1px solid var(--gray-gray-20);
    box-sizing: border-box;
    padding: var(--padding-base) var(--padding-6xs);
    z-index: 2;
    background-color: var(--white-500);
    cursor: pointer;
  }
  .numbers-wanted-group {
    height: 56px;
  }
  .Add-to-Cart-text {
    position: relative;
    font-size: var(--body-1-regular-size);
    line-height: 30px;
    font-family: var(--body-1-regular);
    color: var(--white-500);
    text-align: left;
    display: inline-block;
    min-width: 92px;
  }
  .Add-to-Cart-position {
    cursor: pointer;
    border: 0;
    padding: var(--padding-smi) var(--padding-xl);
    background-color: var(--primary-500);
    flex: 1;
    border-radius: var(--br-3xs);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    box-sizing: border-box;
    gap: var(--gap-3xs);
    min-width: 92px;
    white-space: nowrap;
    max-width: 100%;
  }
  .Add-to-Cart-position:hover {
    background-color: var(--color-steelblue);
  }
  .add-to-favorite {
    cursor: pointer;
    border: 0;
    padding: var(--padding-xl) var(--padding-base);
    background-color: var(--gray-gray-5);
    height: 56px;
    border-radius: var(--br-3xs);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
  }
  .shop-section-group,
  .main-section-right-buttom,
  .color-shop-group {
    align-self: stretch;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
  }
  .shop-section-group {
    flex-direction: row;
    gap: var(--gap-xl);
  }
  .main-section-right-buttom,
  .color-shop-group {
    flex-direction: column;
  }
  .color-shop-group {
    gap: var(--gap-31xl);
    text-align: center;
    font-size: var(--body-1-regular-size);
  }
  .main-section-right-buttom {
    margin-top: 20px;
    padding: 0 0 var(--padding-sm);
    box-sizing: border-box;
    gap: var(--gap-sm);
  }
  .share-butts {
    align-self: stretch;
    flex: 1;
    border-radius: var(--br-3xs);
    border: 1px solid var(--gray-gray-20);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: var(--padding-base) var(--padding-mini);
    background-color: var(--white-500);
    cursor: pointer;
  }
  .share-butts-container {
    display: flex;
    flex-direction: row;
  }
  .share-butts-container {
    width: 188px;
    height: 56px;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-3xs);
  }
  .share-section-group{
    align-self: stretch;
    flex-direction: column;
  }
  .share-section-group {
    margin-top: 20px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-5xs);
  }
  .main-section,
  .main-section-right{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
  }
  .main-section-right {
    flex: 1;
    flex-direction: column;
    padding: var(--padding-55xl) 0 0;
    box-sizing: border-box;
    min-width: 361px;
    font-size: var(--header-7-bold-size);
  }
  .main-section {
    align-self: stretch;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--gap-11xl);
  }

  .leaf-family{
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
    gap: var(--gap-31xl);
  }

  .descendant-segment,
  .parent-complex {
    display: flex;
    align-items: flex-start;
    max-width: 100%;
  }
  .descendant-segment {
    width: 1140px;
    flex-direction: column;
    justify-content: flex-start;
    gap: var(--gap-81xl);
    text-align: left;
    font-size: var(--body-2-regular-size);
    color: var(--dark-500);
    font-family: var(--body-1-regular);
  }
  .parent-complex {
    align-self: stretch;
    flex-direction: row;
    justify-content: center;
    padding: 0 var(--padding-xl) var(--padding-31xl);
    box-sizing: border-box;
    margin-top: 50px;
  }


  /* detail menu */
  .descriptions:hover {
    color: var(--primary-500);
    font-weight: bold;
  }
  .detail-menu-text,
  .descriptions{
    position: relative;
    line-height: 30px;
    /* padding: 5px;
    border-bottom: 2px solid black; */
  }
  .detail-menu {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-11xl);
    max-width: 100%;
  }
  .detail-menu-underline-blue {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--primary-500);
    width: 131px;
    height: 3px;
    z-index: 1;
  }
  .detail-menu-underline {
    align-self: stretch;
    height: 3px;
    position: relative;
    background-color: var(--gray-gray-20);
  }
  .detail-menu-group {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-2xs);
    max-width: 100%;
  }
  .blank-line,
  .detail-menu-frame .text{
    margin: 0;
  }
  #detail-menu-content {
    align-self: stretch;
    position: relative;
    font-size: var(--body-1-regular-size);
    line-height: 30px;
  }
  .leaf-family,
  .detail-menu-frame{
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
  }
  .detail-menu-frame {
    gap: var(--gap-xl);
    font-size: var(--header-6-bold-size);
  }



/* related products section */
  .related-products-text {
    margin: 0;
    align-self: stretch;
    position: relative;
    font-size: inherit;
    line-height: 56px;
    font-weight: 700;
    font-family: inherit;
  }
  .related-products-imgs {
    height: 294px;
    flex: 1;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    object-fit: cover;
    z-index: 1;
  }
  .related-products-img-bg {
    align-self: stretch;
    flex: 1;
    background-color: var(--gray-gray-5);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-lg) var(--padding-8xs) var(--padding-lg) 0;
  }
  .related-products-frame .item-text {
    align-self: stretch;
    position: relative;
    line-height: 30px;
  }
  .title-rating-group{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .title-rating-group {
    align-self: stretch;
    flex-direction: column;
    padding: 0 var(--padding-13xl) 0 0;
    gap: var(--gap-5xs);
  }
  .price {
    align-self: stretch;
    position: relative;
    line-height: 30px;
    white-space: nowrap;
  }
  .related-products-item-container,
  .item-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .item-content {
    align-self: stretch;
    gap: var(--gap-8xs);
  }
  .related-products-item-container {
    height: 447px;
    gap: var(--gap-xl);
  }
  .related-products-container,
  .related-products-frame {
    align-self: stretch;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .related-products-container {
    display: grid;
    flex-direction: row;
    gap: var(--gap-11xl);
    grid-template-columns: repeat(4, minmax(196px, 1fr));
    font-size: var(--body-1-regular-size);
  }
  .related-products-frame {
    display: flex;
    flex-direction: column;
    gap: var(--gap-31xl);
    font-size: var(--header-3-bold-size);
  }